<app-navigation [home]="home">
</app-navigation>
<div class="split-home" style="padding-top:70px ;">
    <div class="leftsplit">

    </div>
    <div class="rightsplit">
        <div class="row">
            <!-- <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td style="text-align:left;width: 50%;">
                        <a target="_blank" href="https://www.stayabode.com/"><img class="wow fadeInDown" src="img/images/stayabode.png" alt="Foodyhive" /></a>
                    </td>
                    <td style="text-align:right;width: 50%;">
                        <a target="_blank" href="https://subscriptions.foodyhive.com/"><img class="wow fadeInDown" src="img/images/logo-foodyhive.png" alt="Foodyhive" /></a>
                    </td>
                </tr>
            </table> -->
            <div class="col-md" style="text-align: center;">
                <a target="_blank" href="https://www.colive.com/"><img height="70px" class="wow fadeInDown" src="img/images/logo-colive.png" alt="Colive" /></a>
            </div>
            <div class="col-md" style="text-align: center;">
                <a target="_blank" href="https://subscriptions.foodyhive.com/"><img class="wow fadeInDown" src="img/images/logo-foodyhive.png" alt="Foodyhive" /></a>
            </div>
        </div>
        <div class="intro intro-app">
            <div class="intro-text">
                <h4 class="wow fadeInDown">WELCOME</h4>
                <h1 style="color:#fd3601;" class="wow fadeInDown" data-wow-delay=".1s">Collaborative Service Portal</h1>
                <p class="wow fadeInDown">
                    Integrating:<br><br>
                    <span style="margin-left:40px;">a. customized menu</span><br>
                    <span style="margin-left:40px;">b. pre-ordering</span><br>
                    <span style="margin-left:40px;">c. technical support</span><br>
                    <span style="margin-left:40px;">d. operations &amp; service handling</span>
                </p>
                <div>
                    <hr />
                </div>
                <p>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td style="text-align:left;" width="50%">
                                <img class="wow fadeInDown" src="img/images/mdfh.png" style="border: 1px solid #CCCCCC;" />
                                <p class="wow fadeInDown">Ramkumar J Damodaran<br>Managing Director | Foodyhive</p>
                            </td>
                            <td style="text-align:right;" width="50%">
                                <img class="wow fadeInDown" src="img/images/safh.jpg" style="border: 1px solid #CCCCCC;" />
                                <p class="wow fadeInDown">Jitendra Jagadev<br>Founder & CEO | StayAbode</p>
                            </td>
                        </tr>
                    </table>

                    <a href="#" class="wow fadeInDown" data-wow-delay=".2s"><img class="img-responsive" src="img/images/appstore.png" alt="Icon" /></a>
                    <a href="#" class="wow fadeInDown" data-wow-delay=".2s"><img class="img-responsive" src="img/images/playstore.png" alt="Icon" /></a>
            </div>
        </div>
        <div class="afooter">
            <span class="afooter-credits">Powered by Alphasource Technologies | <a href="about.html" style="color:#fd3601;">About</a></span>
            <ul>
                <li><a style="color:#fd3601;" target="_blank" href="https://www.facebook.com/FoodyHiveIndiaOfficial/">Facebook</a></li>
                <li><a style="color:#fd3601;" target="_blank" href="https://twitter.com/foodyhiveindia">Twitter</a></li>
                <li><a style="color:#fd3601;" target="_blank" href="https://instagram.com/foodyhive_india">Instagram</a></li>
            </ul>
        </div>

    </div>
</div>
<style>
    .split-home {
        width: 100%;
        display: flex;
    }
    
    .leftsplit {
        width: 50%;
        padding: 0 50px 0 50px;
        background-image: url(img/images/bg1.png);
        background-size: cover;
    }
    
    .rightsplit {
        width: 50%;
        padding: 0 50px 0 50px;
    }
    
    @media only screen and (max-width: 900px) {
        .split-home {
            display: block !important;
            padding-top: 50px !important;
        }
        .leftsplit {
            width: 100% !important;
            height: 400px !important;
        }
        .rightsplit {
            width: 100% !important;
            padding: 0px 20px 0 20px !important;
        }
        .rightsplit>div td {
            text-align: center !important;
        }
        .rightsplit>div td a img {
            height: 65px;
        }
    }
    
    @media only screen and (max-width: 580px) {
        .afooter ul {
            display: block;
            width: 100%;
        }
    }
</style>