<app-navigation [about]="about"></app-navigation>

<div class="split-home" style="padding-top:70px ;">
    <div class="leftsplit">

    </div>
    <div class="rightsplit">
        <div class="">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td style="text-align:left;">
                        <a target="_blank" href="https://subscriptions.foodyhive.com/"><img class="wow fadeInDown" style="height: 80px !important;" src="img/logo.png" alt="Foodyhive" /></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="intro intro-app">
            <div class="intro-text" style="text-align:left;">
                <h1 style="color:#fd3601;" class="wow fadeInDown" data-wow-delay=".1s">About</h1>
                <p class="wow fadeInDown">
                    Thoughts turned into ideas, ideas turned into reality giving birth to FoodyHive in the year 2020, an ideal platform based in Bengaluru that connects home chefs, who prepare healthy and hygienic home made food to the consumers, and we deliver it. Gradually,
                    initiating the execution of our ideas, now we have been boarding passionate home makers and home chefs, who love to cook food for others and to have a reliable income source. Ensuring the home chefs are well equipped, trained and certified
                    to carry out their business, further through our quality check and kitchen audit process, we ensure the supply of food to our consumer is healthier, hygienic and authentic.


                </p>
                <p class="wow fadeInDown">
                    Though, we initiated our plan to serve every individual considering the business to consumer market, widened responses from our consumers created a new dimension to consider the business to business market. At the moment, FoodyHive focusing more on supplying
                    home food to the corporates, small and medium businesses, hospitals, gym to list a few.


                </p>
                <p class="wow fadeInDown">

                    We shaped our business to render clean and transparent services to our clients by creating unique live streaming video extension to view the hygiene location and preparation of food by home chefs. Our set standard is ZERO tolerance towards the use of
                    any additives, preservatives and artificial taste enhancers. Our vision is to encourage micro entrepreneurship for those who can establish and run their business comfortably from home supporting to generate a reliable income from doing
                    what they love to do.
                </p>
                <div>
                    <hr />
                </div>
            </div>
        </div>
        <div class="afooter">
            <span class="afooter-credits">Powered by Alphasource Technologies | <a style="color:#fd3601;">About</a></span>
            <ul>
                <li><a style="color:#fd3601;" target="_blank" href="https://www.facebook.com/FoodyHiveIndiaOfficial/">Facebook</a></li>
                <li><a style="color:#fd3601;" target="_blank" href="https://twitter.com/foodyhiveindia">Twitter</a></li>
                <li><a style="color:#fd3601;" target="_blank" href="https://instagram.com/foodyhive_india">Instagram</a></li>
            </ul>
        </div>

    </div>
</div>
<style>
    .split-home {
        width: 100%;
        display: flex;
    }
    
    .leftsplit {
        width: 50%;
        padding: 0 50px 0 50px;
        background-image: url(img/images/bg2.png);
        background-size: cover;
    }
    
    .rightsplit {
        width: 50%;
        padding: 0 50px 0 50px;
    }
    
    @media only screen and (max-width: 900px) {
        .split-home {
            display: block !important;
            padding-top: 50px !important;
        }
        .leftsplit {
            width: 100% !important;
            height: 400px !important;
            background-size: 100% 100% !important;
        }
        .rightsplit {
            width: 100% !important;
            padding: 0px 20px 0 20px !important;
        }
        .rightsplit>div td {
            text-align: center !important;
        }
        .rightsplit>div td a img {
            height: 65px;
        }
    }
    
    @media only screen and (max-width: 580px) {
        .afooter ul {
            display: block;
            width: 100%;
        }
    }
</style>