<main>
    <!-- <app-navigation></app-navigation> -->
    <!-- <app-hero-main></app-hero-main> -->

    <div id="main-container" #scrollContainer>
        <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
    </div>

    <!-- /bg_gray -->
    <!-- /container -->
</main>
<!-- /main -->

<app-footer></app-footer>

<div id="toTop" (click)="toTop()" class="detail_page"></div>
<!-- Back to top button -->

<div id="message">Item added to cart</div>
<!-- Add to cart message -->
<div class="toster" id="toster">Password Changed Succesfully<a class="closetost" (click)="Closetoast1()">x</a></div>
<div class="toster" id="tostersignup">Registered Succesfully<a class="closetost" (click)="Closetoast2()">x</a></div>
<style>
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000000;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        margin-left: 50px;
    }
    
    #main {
        transition: margin-left 0.5s;
        padding: 0px;
    }
    
    .table.cart-list td .dropdown-options {
        text-align: center;
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 12px;
        }
    }
    
    .secondary_nav {
        padding: 16px 0;
    }
    
    .modal-header {
        display: -ms-flexbox;
        display: block;
    }
    
    .toster {
        color: #0f8d2c;
        background-color: #d4edda;
        border-color: #c3e6cb;
        position: fixed;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        right: 0;
        top: 70px;
        z-index: 9999999;
        width: 300px;
        display: none;
    }
    
    .closetost {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }
</style>